.Navigation {
    display: flex;
    justify-content: center;
    background: black;
    color:white;
    padding: 2em;
    background: {
        color:black;
        image: url('/images/degradado.jpg');
        // size: cover;
    }
    button {
        margin:0.5rem;

    

    }
}