.Counter{
    display:flex;
    flex-direction: row; 
    background: tomato;
    /* width: 100%; */
    border: 3px black inset;
    /* float: left; */
    /* font-size: 12rem; */
}
.reset{
font-size: 20px;
color:black;
background-color: gray;
border: 2px black inset;
}